@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
@keyframes size {
    from {
        font-size: 400px;
    }
    to {
        font-size: 370px;
    }
}

.animate-size {
    animation: size 1.5s linear infinite alternate;
}
#top-sale {
width: 732px;
height: 837px;
}

@keyframes gota {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.5%);
  }
  100% {
    transform: translateY(0);
  }
}

.gota-limited {
  animation: gota 1.75s ease-in-out infinite; 
}
